/* ----------------------------------------------------------- */
/* SECTION 1: GENERIC SITE-WIDE STYLING */
/* ----------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, img {
  line-height: 1.3;
  letter-spacing: .02em;
  margin: 10px 0;
}

a { text-decoration: none }
a:hover { text-decoration: none; color: inherit; cursor: pointer }

/* * { position: relative }*/
html { margin-top: 0 !important }
/* *:focus { outline: 0 !important; text-decoration: none !important } */
/* *:hover { outline: 0 !important; text-decoration: none !important } */

body, html {
  background-color: var(--white);
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

img {
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

ul { list-style-type: none; padding-left: 0 }
a:visited { color: inherit; text-decoration: none }

.image-container > * { height: 100% !important; width: 100% !important; display: block !important }

/* ----------------------------------------------------------- */
/* SECTION 2: SPECIALTY CLASSES */
/* ----------------------------------------------------------- */

/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */
/*----------- TAGGABLE STYLING ------------- */

.dorange { color: var(--dorange) !important }
.bg-dblue { background-color: var(--dblue) !important; color: white }
.bg-dblue .divider line { stroke: #f1f1f1; opacity: .2}

.reg-w { width: var(--content-width); align-self: center }

.full-width {
  position: relative;
  left: 50%; right: 50%;
  margin-left: -47vw;
  margin-right: 47vw;
  width: 94vw;
  background-position: right center;
  background-repeat: no-repeat;
}

.arrow-link {
  color: black;
  position: relative;
  padding-bottom: 2px;
  padding-right: 28px;
  border-bottom: 1.25px solid;
  transition: .2s ease-out
}

.arrow-link::after {
  position: absolute;
  content: " ";
  width: 25px;
  height: 20px;
  background-image: url("../svgs/arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateX(7px);
  transition: .1s ease-out;
  margin-top: auto; margin-bottom: auto; top: 0; bottom: 0
}
.arrow-link:hover::after { transform: translateX(14px); }

.absolute-center-v { margin-top: auto; margin-bottom: auto; top: 0; bottom: 0 }
.absolute-center-h { margin-left: auto; margin-right: auto; left: 0; right: 0 }

.midline { grid-template-rows: auto auto; display: grid; grid-gap: 30px }
.midline-title { grid-area: 1 / 1 / 2 / 3 }
.midline-subtitle { grid-area: 2 / 2 / 3 / 3 }
.midline-title { margin: 0 }
.midline-title h1 { margin-top: 10px }
.midline-subtitle { display: flex }
.midline-subtitle div { height: 100%; position: relative; margin-right: 30px }
.midline-subtitle svg { height: 100%; position: absolute }
.midline-subtitle h5 { margin: 0; line-height: 1.5 }


/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */
/*----------- COMPONENT STYLING ------------- */

.divider {
  position: absolute;
  left: -999px; right: -999px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  top: 0
}

/*----------- GRID HELPER STYLING ------------- */
/*----------- GRID HELPER STYLING ------------- */
/*----------- GRID HELPER STYLING ------------- */

.grid-helper {
  display: grid;
  background-color: #2196F3;
}

.grid-helper > div {
  background-color: rgba(255, 255, 255, 0.8);
}


/*----------- MENU STYLING ------------- */
/*----------- MENU STYLING ------------- */
/*----------- MENU STYLING ------------- */


/*----------- THE GRID ZONE ------------- */
.topbar { grid-template-columns: 80px auto max-content; }
.topbar .logo { grid-column: 1 / 2 }
.topbar .menu { grid-column: 3 / 4 }

.topbar {
  padding: 60px 2% 50px 5%;
  display: grid;
}
/* .menubar { margin-top: auto; margin-bottom: auto } */
.topbar .logo {  }
.topbar .menu-active a { font-style: italic; font-weight: bold; color: var(--dorange) !important }

.topbar .menu { display: flex; align-items: center }
.topbar .menu ul { list-style-type: none }
.topbar .menu li { float: left; transition: 0.8s }
.topbar .menu li a {
  display: block;
  font-size: 19px;
  padding: 0px;
  margin: 0px 35px;
  text-decoration: none;
}
.topbar .menu-black li a { color: black }
.topbar .menu-white li a { color: white }

.topbar .menu ul:hover li{ opacity: .2 }
.topbar .menu ul li:hover { opacity: 1 !important }


/*----------- FOOTER STYLING ------------- */
/*----------- FOOTER STYLING ------------- */
/*----------- FOOTER STYLING ------------- */

.footer { grid-template-columns: 80px auto max-content max-content 1%; }
.footer .logo { grid-column: 1 / 2 }
.footer .menu { grid-column: 3 / 4 }
.footer .socials { grid-column: 4 / 5 }

.footer {
  background-color: var(--dgrey);
  padding: 60px 45px;
  grid-gap: 60px;
  display: grid;
}

/* .menubar { margin-top: auto; margin-bottom: auto } */
.footer a { color: var(--white) }
.footer .logo {  }
.footer .menu-active a { font-style: italic; font-weight: bold; color: var(--dorange) !important }

.footer .menu { display: flex; align-items: center }
.footer ul { list-style-type: none }
.footer li:nth-of-type(1) { font-style: italic }
.footer li { transition: 0.8s }
.footer li a {
  display: block;
  font-size: 19px;
  color: var(--white);
  padding: 0px;
  margin-bottom: 25px;
  text-decoration: none;
  line-height: 1.1;
}
/*----------- HOME PAGE ------------- */
/*----------- HOME PAGE ------------- */
/*----------- HOME PAGE ------------- */


.home-head {
  position: relative;
  /* background-image: url(../imgs/home-head.png); */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* TODO set a max height and maybe govern reg height */
  color: var(--white);

  display: flex;
  flex-direction: column;
}
.home-head h1, .home-head h5 { text-align: center }
.home-head >*:not(video) { position: relative; z-index: 2 }

.home-head video {
  position: absolute; z-index: 0;
  height:100%; width: 100%;
  object-fit: cover;
}

.home-stories {
  position: relative;
  min-height: 100vh;
  display: flex;
  text-align: center;
  display: grid;
  grid: 40px auto 40px / 40px auto 40px;
}
.home-stories-text { grid-area: 2 / 2 / 3 / 3; display: flex; justify-content: center; text-align: center; padding: 100px 0; align-items: center  }

.grey-lines > div:not(:first-of-type) { background-color: #c3c3c3; transition: .7s ease-out }
.grey-lines .top-line { margin-top:    38px; grid-area: 1 / 1 / 2 / 4; width:  100%; justify-self: end   }
.grey-lines .bot-line { margin-bottom: 38px; grid-area: 3 / 1 / 4 / 4; width:  100%; justify-self: start }
.grey-lines .lft-line { margin-left:   38px; grid-area: 1 / 1 / 4 / 2; height: 100%; align-self:   start   }
.grey-lines .rgt-line { margin-right:  38px; grid-area: 1 / 3 / 4 / 4; height: 100%; align-self:   end }
.home-stories .top-line, .home-stories .bot-line { width: 0% }
.home-stories .lft-line, .home-stories .rgt-line { height:0% }

.home-wide {
  background-color: var(--dgrey);
  color: white;
  position: relative;
  min-height: 95vh;
}
.home-wide .words {
  position: absolute;
  height: 100%;
  top: 0;
  width: 45%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-wide video {
  position: absolute; z-index: 0;
  height:100%; width: 100%;
  object-fit: cover;
}


.home-wide p { font-weight: 450 }
.home-wide .arrow-link { color: var(--dorange); font-style: italic }
.home-wide .arrow-link::after { filter: invert(56%) sepia(81%) saturate(1320%) hue-rotate(327deg) brightness(91%) contrast(94%); }

.home-wide:nth-of-type(odd)  .words { left:  5%; align-items: start; text-align: left }
.home-wide:nth-of-type(even) .words { right: 5%; align-items:   end; text-align: right}


.home-logos {
  position: relative;
  min-height: 100vh;
  display: flex;
  text-align: center;
  display: grid;
  grid: 40px auto 40px / 40px auto 40px;
}
.home-logos-text { grid-area: 2 / 2 / 3 / 3; justify-content: center; text-align: center; padding: 100px 0; align-items: center  }



.home-blue-con { display: grid; grid: auto 40px auto 40px auto 40px / 40px auto 40px }
.toolkit-con { grid-area: 1 / 2 / 2 / 3 }
.home-results { grid-area: 3 / 2 / 4 / 3 }
.home-dots { grid-area: 5 / 2 / 6 / 3 }
.home-blue-con .top-line,.home-blue-con .bot-line,.home-blue-con .lft-line,.home-blue-con .rgt-line,.home-blue-con .end-line { background-color: #465C88 }
.home-blue-con .top-line { margin-top:    38px; grid-area: 2 / 1 / 3 / 4; width: 100% }
.home-blue-con .bot-line { margin-bottom: 38px; grid-area: 4 / 1 / 5 / 4; width: 100% }
.home-blue-con .lft-line { margin-left:   38px; grid-area: 1 / 1 / 7 / 2; height:100% }
.home-blue-con .rgt-line { margin-right:  38px; grid-area: 1 / 3 / 7 / 4; height:100% }
.home-blue-con .end-line { margin-bottom: 38px; grid-area: 6 / 1 / 7 / 4; width: 100% }


.toolkit-con { display: flex; justify-content: center }
.home-toolkit { display: flex; padding: 150px 0; justify-content: space-between }
.home-toolkit div:first-of-type { flex-basis: 70% }
.home-toolkit div:nth-of-type(2) { flex-basis: 30% }

.home-toolkit ul { margin: 0; opacity: .6 }
.home-toolkit .arrow-link { color: white; font-style: italic }
/* white filter */
.home-toolkit .arrow-link::after {filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(20deg) brightness(101%) contrast(100%);}
.home-toolkit > div:nth-of-type(2) { margin-top: 35px }
.home-toolkit > div:nth-of-type(2) * { font-weight: 300 }

.home-results { position: relative }
.home-results .arrow-link { color: var(--dorange); font-style: italic }
.home-results .arrow-link::after {filter: invert(56%) sepia(81%) saturate(1320%) hue-rotate(327deg) brightness(91%) contrast(94%);}

.result-text {
  position: absolute;
  height: 100%; width: 100%;
  top: 0; left: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.home-dots-con { display: flex; justify-content: center }
.home-dots {
  padding: 75px 0;
  position: relative;

  display: grid;
  grid: auto auto / 60% 40%;
}
.home-dots > div:first-of-type { grid-area: 2 / 1 / 3 / 2 }
.home-dots > h1  { grid-area: 1 / 1 / 2 / 3 }
.home-dots > div:last-of-type { grid-area: 2 / 2 / 3 / 3; text-align: right }
.home-dots .arrow-link { color: var(--white); font-style: italic }
.home-dots .arrow-link::after {filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(20deg) brightness(101%) contrast(100%);}

.home-dots svg:not(:first-of-type) { width: 55%; justify-self: center }

/*----------- ABOUT PAGE ------------- */
/*----------- ABOUT PAGE ------------- */
/*----------- ABOUT PAGE ------------- */

/*----------- ABOUT HEADER ------------- */
.about-head { grid-template-columns: 35% 65% }
.about-head { margin: 50px 0 150px }
.about-head .circ { height: 30px; width: 30px; text-align: left}

/*----------- ABOUT VIDEO ------------- */
.about-video div, .about-video img { width: 100% }

/*----------- ABOUT GRID ------------- */
.about-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 50px;

  margin-top: 40px;
}
.about-card { transition: .5s ease-out }
.about-card:hover { background-size: 110% 110% }
.about-card span { color: var(--dorange); font-weight: 600 }

.about-img { position: relative }
.about-img div:first-of-type { display: block !important }
.about-img:hover .about-desc { opacity: 1 }
.about-desc { transition: .2s ease-out; opacity: 0; padding: 10%; height: 80%; background-color: #1F3561CF; position: absolute; top: 0 }
.about-desc p { color: white }
.LI > div { position: absolute !important; height: 50px; bottom: -25px; right: 20px }

/*----------- ABOUT DOTS ------------- */
.about-dots {
  padding: 75px 0;
  position: relative;

  display: grid;
  grid-template-columns: 60% 40%;
}
.about-dots .arrow-link { color: var(--dorange) }
.about-dots .arrow-link::after { filter: invert(56%) sepia(81%) saturate(1320%) hue-rotate(327deg) brightness(91%) contrast(94%); }

.about-dots svg:not(:first-of-type) { width: 55%; justify-self: center }


/*----------- WORK PAGE ------------- */
/*----------- WORK PAGE ------------- */
/*----------- WORK PAGE ------------- */

/*----------- WORK HEADER ------------- */
.work-head { grid-template-columns: 45% 55% }
.work-head .circ { height: 30px; width: 30px; text-align: left}
.work-head { margin: 50px 0 200px }

/*----------- WORK HIGHLIGHTS ------------- */
.highlight-card { line-height: 1.2; display: flex; align-items: center; column-gap: 5%; margin: 100px 0 }
.highlight-card a { flex-basis: 60% }
.highlight-card div { flex-basis: 40% }

.highlight-card:nth-of-type(odd)  a { order: 1 }
.highlight-card:nth-of-type(odd)  div { order: 2 }
.highlight-card:nth-of-type(even) a { order: 2 }
.highlight-card:nth-of-type(even) div { order: 1 }

.highlight-card img { transition: .5s ease-out }
.highlight-card img:hover { transform: scale(1.1, 1.1) }

.highlight-card .arrow-link:hover { color: var(--dorange) }
.highlight-card .arrow-link:hover::after { filter: invert(56%) sepia(81%) saturate(1320%) hue-rotate(327deg) brightness(91%) contrast(94%); }


/*----------- WORK FILTER ------------- */
.work-filter { display: flex; align-items: left }

.work-filter ul { list-style-type: none; width: 100%; padding-left: 0; margin-bottom: 5px }
.work-filter li { margin-right: 10%; float: left; transition: 0.8s }
.work-filter li a {
  display: block;
  color: #E1E1E1;
  padding: 0px;
  text-decoration: none;
}

.work-filter .menu-active a { font-style: italic; color: var(--dorange) !important }

/*----------- WORK GRID ------------- */
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 38vw;
  grid-gap: 1.5%;

  margin: 40px 0;
}
.work-card {
  background: var(--dgrey) url("../imgs/card-def.png") center;
  background-size: 100% 100%;
  transition: .5s ease-out;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding: 10%;
}
.work-card:hover { background-size: 110% 110% }
.work-card h4 { margin-bottom: 0; color: var(--white) }
.work-card h6 { margin-top: 0; color: var(--dorange); font-style: italic; }



/*----------- CASE STUDY PAGE ------------- */
/*----------- CASE STUDY PAGE ------------- */
/*----------- CASE STUDY PAGE ------------- */

.case-study-content { display: flex; justify-content: center; flex-direction: column }
.case-study-content h6 { line-height: 1.8 }

.case-study-head { min-height: 100vh; background: #C4C4C4; }

.case-study-intro {
  display: grid;
  grid: auto auto / 1fr 2fr;
  grid-gap: 35px;

  margin: 70px 0;
}
.case-study-intro {  }




.case-study-challenge { margin: 70px 0 }
.case-study-outcome { margin: 70px 0 }
.case-study-approach { margin: 70px 0 }
.case-study-execution { margin: 70px 0 }

.case-study-intro > div:nth-of-type(1) { grid-area: 1 / 1 / 2 / 3 }
.case-study-intro > div:nth-of-type(2) { grid-area: 2 / 1 / 3 / 2 }
.case-study-intro > div:nth-of-type(3) { grid-area: 2 / 2 / 3 / 3 }

.case-study-fw-image { background-color: #c4c4c4 ; height: 80vh}

.case-study-dot-strip {
  background-color: #09283D;
  padding: 70px 0;
}
.case-study-dot-strip > div {
  display: grid;
  grid: auto / 1fr 6fr
}
.case-study-dot-strip h1 { text-align: right; color: white }
.case-study-dot-strip h1 em { color: #FDBF0E }
.case-study-dot-strip svg {display: flex; flex-direction: column; align-self: end}

.case-study-gallery > div:not(:first-of-type) { margin-top: 30px !important }

.case-study-LR-card h3 { font-style: italic }
.case-study-LR-card { line-height: 1.2; display: flex; align-items: center; column-gap: 5% }
.case-study-LR-card:not(:first-of-type) { margin-top: 100px }
.case-study-LR-card div:nth-of-type(1) { flex-basis: 60%; align-self: end }
.case-study-LR-card div:nth-of-type(2) { flex-basis: 40%; align-self: end }

.case-study-LR-card:nth-of-type(odd)  div:nth-of-type(1) { order: 1 }
.case-study-LR-card:nth-of-type(odd)  div:nth-of-type(2) { order: 2 }
.case-study-LR-card:nth-of-type(even) div:nth-of-type(1) { order: 2 }
.case-study-LR-card:nth-of-type(even) div:nth-of-type(2) { order: 1 }


.case-study-more > div:first-of-type { margin-left: 3% }
.more-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 38vw;
  grid-gap: 1.5%;

  margin-top: 40px;
}


/*----------- SERVICES PAGE ------------- */
/*----------- SERVICES PAGE ------------- */
/*----------- SERVICES PAGE ------------- */

/*----------- SERVICES HEAD ------------- */
.services-head { position: relative; padding: 50px 0 200px }

/*----------- SERVICES BOXES ------------- */
/*----------- GRID ------------- */
.services-box > div { display: grid; grid-gap: 0; grid: 100px auto auto 100px / 30% 10% 60% }
.services-box .name   { grid-area: 2 / 1 / 3 / 2 }
.services-box .divide { grid-area: 1 / 2 / 4 / 3 }
.services-box .list   { grid-area: 3 / 1 / 4 / 2 }
.services-box .desc   { grid-area: 3 / 3 / 4 / 4 }

/*----------- GRID ------------- */
.services-box .name * { margin-bottom: 0 }
.services-box .list * { margin-top: 0 }
.services-box .desc * { margin-top: 0 }

.services-box {
  position: relative;
  left: 50%; right: 50%;
  margin-left: -60vw;
  margin-right: 60vw;
  width: 120vw;
  background-position: right center;
  background-repeat: no-repeat;
  transition: .2s ease-out;
}
.services-box .name { color: var(--dorange); font-style: italic }
.services-box .list li { color: #FFFFFF50 }
.services-box .list h3 { margin-left: -3px }
.services-box .divide svg { position: absolute; height: 100% }
.services-box > div { width: 90vw; margin-left: auto; margin-right: auto; left: 0; right: 0 }

.services-box .arrow-link { color: var(--dorange); font-style: italic }
.services-box .arrow-link::after { filter: invert(56%) sepia(81%) saturate(1320%) hue-rotate(327deg) brightness(91%) contrast(94%); }

.services-box:hover { background-color: var(--dorange) }
.services-box:hover .name { color: var(--dblue) }
.services-box:hover .arrow-link { color: var(--dblue) }
.services-box:hover .arrow-link::after { filter: invert(14%) sepia(33%) saturate(3502%) hue-rotate(205deg) brightness(90%) contrast(85%); }
.services-box:hover .divider { display:none }


/*----------- SERVICES DOT ------------- */
.services-dot { padding-top: 50px; margin-bottom: 120px }
.services-dot { position: relative; display: grid; grid: 100px auto / 80% 20%; grid-gap: 30px }
.services-dot .dot svg { width: 100% }
.services-dot .divider svg {
  position: relative;
  left: 50%; right: 50%;
  margin-left: -50vw;
  margin-right: 50vw;
  width: 100vw;
  background-position: right center;
  background-repeat: no-repeat;
}
.services-dot .heading .arrow-link { margin-top: 30px; color: var(--dorange); font-style: italic }
.services-dot .heading .arrow-link::after { filter: invert(56%) sepia(81%) saturate(1320%) hue-rotate(327deg) brightness(91%) contrast(94%); }
.services-dot .heading { grid-area: 2 / 1 / 3 / 2 }
.services-dot .dot { grid-area: 1 / 2 / 3 / 3 }


/*----------- IDEAS PAGE ------------- */
/*----------- IDEAS PAGE ------------- */
/*----------- IDEAS PAGE ------------- */

.ideas-head {
  padding: 50px 0;
  position: relative;

  display: grid;
  grid-template-columns: 70% 30%;
}
.ideas-head h1 { align-self: center  }
.ideas-head svg { width: 75%; justify-self: center }


.ideas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-rows: 23vw;
}

.ideas-highlight {
  grid-area: 1 / 1 / 3 / 3;
  background-color: #FFFFFF30;
}
.ideas-card a:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%
}
.ideas-card {
  position: relative;
  border: 1px white solid;
  padding: 30px;
  transition: .2s ease-out
}
.ideas-card a { color: white }
.ideas-highlight p  { font-weight: 300; opacity: .67; line-height: 1.1; margin-top: 20px }

.ideas-card h4 { /* clamp lines */ transition: .2s ease-out; color: white }
.ideas-card h6 { transition: .2s ease-out }
.ideas-card-author { display: flex; grid-gap: 15px; color: var(--dorange) }
.ideas-card-author img { border-radius: 50% }
.ideas-card-author div { width: 40px }

.ideas-card .orng-overlay {
  transition: .2s ease-out;
  top: 0; left: 0; position: absolute; z-index: 1;
  width: 100%; height: 100%;
  opacity: 0;
  background-color: var(--dorange)
}
.ideas-card .img-overlay {
  transition: .25s ease-out;
  top: 0; left: 0; position: absolute; z-index: 0;
  width: 100%; height: 100%;
  opacity: 0;
  background-image: url("../imgs/ideas-card-def.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.ideas-card a:nth-of-type(3) { z-index: 2 }

.ideas-card:hover .img-overlay { opacity: 1 }
.ideas-card:hover .orng-overlay{ opacity: .9 }
.ideas-card:hover h4, .ideas-card:hover h6 { color: white }

/*----------- BLOG POST PAGE ------------- */
/*----------- BLOG POST PAGE ------------- */
/*----------- BLOG POST PAGE ------------- */

.blog-content { max-width: 680px; margin-left: auto; margin-right: auto }
.blog-content .back-arrow-link { color: var(--dorange); font-style: italic }
.blog-author { display: flex; grid-gap: 15px }
.blog-author h6 { font-style: italic }
.blog-author h6:first-of-type { color: var(--dorange) }
.blog-author img { border-radius: 50% }
.blog-author div { width: 40px }

.back-arrow-link {
  position: relative;
  padding-bottom: 2px;
  padding-left: 30px;
  border-bottom: 1.25px solid;
  transition: .2s ease-out
}

.back-arrow-link::before {
  position: absolute;
  content: " ";
  width: 25px;
  height: 20px;
  background-image: url("../svgs/back-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  transform: translateX(-31px);
  transition: .1s ease-out;
  margin-top: auto; margin-bottom: auto; top: 0; bottom: 0;
  /*dorange filter*/
  filter: invert(56%) sepia(81%) saturate(1320%) hue-rotate(327deg) brightness(91%) contrast(94%);
}
.back-arrow-link:hover::before { transform: translateX(-38px); }


.blog-content h4 { font-weight: 600; color: var(--dorange) }
.blog-content p  { font-family: "mmc-serif"; letter-spacing: .01em;  line-height: 1.5 }
.blog-content p, h4 { margin-bottom: 2rem;}

/*----------- CONTACT PAGE ------------- */
/*----------- CONTACT PAGE ------------- */
/*----------- CONTACT PAGE ------------- */

/*----------- 404 PAGE ------------- */
/*----------- 404 PAGE ------------- */
/*----------- 404 PAGE ------------- */

.fourohfour { margin-top: -5vw; text-align: center }
.fourohfour h1 { font-size: 35vw; display: inline-block }
.fourohfour h3 { margin-top: -5vw }
.fourohfour .circ { display: inline-block; height: 26vw }
.fourohfour svg { height: 100% }
.fourohfour .arrow-link { font-style: italic }
/*white*/
.fourohfour .arrow-link::after {filter: invert(99%) sepia(1%) saturate(3%) hue-rotate(20deg) brightness(101%) contrast(100%);}
